.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{ /* div padre*/
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: silver;
  padding-left: 20px;
}

.nombre{ /* hijo <h3>*/
  display: flex;
  color: black;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links{ /* hijos <p>*/
  display: flex;
  align-items: center;
  margin: 10px;
}

.divLinks{
  display: flex;
  border: 1px solid black;
}

.paginas{  /* hijos <a>*/
  display: flex;
  text-decoration: none;
  color: black;
}

.carrito{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}