.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{ /* div padre*/
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: silver;
  padding-left: 20px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.nombre{ /* hijo <h3>*/
  display: flex;
  color: black;
  justify-content: flex-start;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links{ /* hijos <p>*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}
.toDetail{
  color: black;
}

.divLinks{ /* padres <p> */
  display: flex;
  margin-right: 30px;
}

.paginas{  /* hijos <a>*/
  display: flex;
  text-decoration: none;
  color: black;
}

.carrito{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}

.productos{
  font-weight: bold;
  font-size: 30px;
  margin: 90px;
}

.imgEstante{
  width: 30vw;
  height: 25vh;
  border-radius: 8px;
}


.divProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divEstado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  width: 20vw;
  height: 4vh;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
}

.boton1{
  background-color: white;
  text-decoration: none;
  width: 4vw;
  height: 5vh;
  margin-left: 1vw;
  border: white;
  font-size: 25px;
}

.boton1:hover{
  transform: scale(1.1);
}

.boton2{
  background-color: white;
  text-decoration: none;
  width: 4vw;
  height: 5vh;
  margin-right: 1vw;
  border: white;
  font-size: 25px;
}

.boton2:hover{
  transform: scale(1.1);
}

.hConteo{
  font-size: 20px;
}

.divAgregar{
  margin-top: 10px;
}

.btnAgregar{
  width: 13vw;
  height: 5vh;
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btnAgregar:hover{
  transform: scale(1.1);
}

.links{
  text-decoration: none;
  color: black;
  font-weight: 1000;
}

.modelo{
  list-style: none;
  margin-top: 10px;
  font-weight: bold;
}

.precio{
  list-style: none;
  margin-top: 10px;
  font-weight: bold;
}

.ItemDiv{
  margin: 30px;
  width: auto;
  display: inline-block;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  box-shadow: -1px 16px 35px -1px rgba(0,0,0,0.26);
  background-color: white;
}

.ItemDiv:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
