.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{ /* div padre*/
  display: flex;
  flex-direction: row;
  background-color: silver;
  padding-left: 20px;
}

.nombre{ /* hijo <h3>*/
  display: flex;
  color: black;
  justify-content: flex-start;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links{ /* hijos <p>*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.divLinks{ /* padres <p> */
  display: flex;
}

.paginas{  /* hijos <a>*/
  display: flex;
  text-decoration: none;
  color: black;
}

.carrito{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}

.productos{
  font-weight: bold;
  font-size: 30px;
}

.imgEstante{
  width: 30vw;
  height: 25vh;
  border-radius: 25px;
}

.imgEstante:hover{
  transform: scale(1.4);
}

.divProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divEstado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  width: 20vw;
  height: 4vh;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
}

.boton1{
  background-color: white;
  text-decoration: none;
  width: 4vw;
  height: 5vh;
  margin-left: 1vw;
  border: white;
  font-size: 25px;
}

.boton1:hover{
  transform: scale(1.1);
}

.boton2{
  background-color: white;
  text-decoration: none;
  width: 4vw;
  height: 5vh;
  margin-right: 1vw;
  border: white;
  font-size: 25px;
}

.boton2:hover{
  transform: scale(1.1);
}

.hConteo{
  font-size: 20px;
}

.divAgregar{
  margin-top: 10px;
}

.btnAgregar{
  width: 13vw;
  height: 5vh;
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btnAgregar:hover{
  transform: scale(1.1);
}